<h3 class="pagetitle">Session Summary</h3>

    <div class="row">
      <div class="col">
           <strong>Date: </strong>
            <%= @entry.date.strftime("%d/%m/%Y")   %>
      </div>

      <div class="col">
        <strong>Time: </strong>
            <%= @entry.time.strftime("%I:%M %p")  %>
      </div> 
    </div>


    <div class="row">
      <div class="col">
           <strong>Track: </strong>
            <%= @entry.track %>
      </div>


      <div class="col">
        <strong>Run:</strong>
        <%= @entry.run %>
      </div>
    </div>


<h4 class="mt-4 pagetitle">Lap Times</h4>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Lap</th>
      <th scope="col">Time</th>
      <th scope="col">Top Revs</th>
      <th scope="col">Bottom Revs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= @entry.bestlap %> secs</td>
      <td><%= @entry.besttoprevs %></td>
      <td><%= @entry.bestbottomrevs %></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><%= @entry.secondbestlap %> secs</td>
      <td><%= @entry.secondbestlaptoprevs %></td>
      <td><%= @entry.secondbestlapbottomrevs %></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><%= @entry.thirdbestlap %> secs </td>
      <td><%= @entry.thirdbesttoprevs %></td>
      <td><%= @entry.thirdbestbottomrevs %></td>
    </tr>
  </tbody>
</table>

<div class="container">
    <div class="row">
      <div class="col">
           <strong>Fuel Load: </strong>
            <%= @entry.fuelload %> kgs
      </div>


      <div class="col">
        <strong>End Fuel:</strong>
        <%= @entry.endfuel %> kgs
      </div>

      <div class="col">
        <strong>Fuel Used:</strong>
        <%= @entry.fuelload - @entry.endfuel %> kgs
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
           <strong>Pre Pressure: </strong>
            <%= @entry.prepressure %> psi
      </div>


      <div class="col">
        <strong>Post Pressure:</strong>
        <%= @entry.postpressure %> psi
      </div>

      <div class="col">
        <strong>Psi Diff:</strong>
        <%= @entry.postpressure - @entry.prepressure %> psi
      </div>
    </div>

  </div>



<h3>Engine Setup</h3>

<p>
  <strong>Carb Clip:</strong>
  <%= @entry.needleclip %>
</p>

<p>
  <strong>Main Jet:</strong>
  <%= @entry.jet %>
</p>

<p>
  <strong>Gearing:</strong>
  <%= @entry.gearing %>
</p>

<h3>Chassis Setup</h3>
<p>
  <strong>Rear Width: </strong>
  <%= @entry.rearwidth %>
  <strong>Front Width: </strong>
  <%= @entry.frontwidth %>
</p>

<p>
  <strong>Pre Session Pressure:</strong>
  <%= @entry.prepressure %>
  <strong>Post Session Pressure:</strong>
  <%= @entry.postpressure %>
</p>







<%= link_to 'Edit', edit_entry_path(@entry), class: "btn btn-info" %> |
<%= link_to 'Back', entries_path, class: "btn btn-primary" %> |
<%= link_to 'Delete', @entry, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
