<p id="notice"><%= notice %></p>

<p>
  <strong>Track:</strong>
  <%= @entry.track %>
</p>

<p>
  <strong>Date:</strong>
  <%= @entry.date %>
</p>

<p>
  <strong>Run:</strong>
  <%= @entry.run %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
